n8n-workflows/01-scheduler.json
{
  "name": "01 - Scheduler (RSS Fetcher)",
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "position": [250, 300],
      "typeVersion": 1
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 3
            }
          ]
        }
      },
      "name": "Cron Trigger",
      "type": "n8n-nodes-base.cron",
      "position": [250, 500],
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "https://rss.nytimes.com/services/xml/rss/nyt/HomePage.xml",
        "options": {}
      },
      "name": "NYT Feed",
      "type": "n8n-nodes-base.rssFeedRead",
      "position": [450, 200],
      "typeVersion": 1,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://feeds.bbci.co.uk/news/rss.xml",
        "options": {}
      },
      "name": "BBC Feed",
      "type": "n8n-nodes-base.rssFeedRead",
      "position": [450, 350],
      "typeVersion": 1,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://feeds.a.dj.com/rss/RSSWorldNews.xml",
        "options": {}
      },
      "name": "WSJ Feed",
      "type": "n8n-nodes-base.rssFeedRead",
      "position": [450, 500],
      "typeVersion": 1,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://www.theguardian.com/world/rss",
        "options": {}
      },
      "name": "Guardian Feed",
      "type": "n8n-nodes-base.rssFeedRead",
      "position": [450, 650],
      "typeVersion": 1,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://rss.politico.com/politics-news.xml",
        "options": {}
      },
      "name": "Politico Feed",
      "type": "n8n-nodes-base.rssFeedRead",
      "position": [450, 800],
      "typeVersion": 1,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Combine all feeds and deduplicate\nconst allItems = [];\n\n// Process each input - each feed sends items individually\nconst inputs = $input.all();\n\nfor (const input of inputs) {\n  const item = input.json;\n  if (item && item.title) {\n    allItems.push({\n      title: item.title || '',\n      link: item.link || '',\n      pubDate: item.pubDate || item.isoDate || new Date().toISOString(),\n      content: item.contentSnippet || item.content || item.description || '',\n      source: item.creator || 'Unknown',\n      guid: item.guid || item.link || ''\n    });\n  }\n}\n\n// Deduplicate by link\nconst seen = new Set();\nconst unique = allItems.filter(item => {\n  if (!item.link || seen.has(item.link)) return false;\n  seen.add(item.link);\n  return true;\n});\n\n// Sort by date (newest first)\nunique.sort((a, b) => new Date(b.pubDate) - new Date(a.pubDate));\n\n// Return top 20\nreturn unique.slice(0, 20).map(item => ({ json: item }));"
      },
      "name": "Combine & Deduplicate",
      "type": "n8n-nodes-base.code",
      "position": [700, 500],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "// Score stories by viral potential\nconst viralKeywords = [\n  'trump', 'biden', 'war', 'crisis', 'breaking', 'scandal', 'arrest', 'death', 'attack',\n  'invasion', 'ceasefire', 'sanctions', 'inflation', 'recession', 'oil', 'gas',\n  'nato', 'ukraine', 'russia', 'china', 'iran', 'israel', 'gaza', 'middle east',\n  'election', 'vote', 'poll', 'resign', 'fired', 'impeach', 'indict', 'tariff', 'trade',\n  'ai', 'artificial intelligence', 'nvidia', 'openai', 'gpt', 'anthropic', 'claude', 'gemini',\n  'crypto', 'bitcoin', 'eth', 'solana', 'space', 'nasa', 'spacex', 'mars', 'moon', 'starship',\n  'apple', 'tesla', 'musk', 'zuckerberg'\n];\n\nconst items = $input.all();\nconst scored = items.map(item => {\n  const data = item.json;\n  const titleLower = (data.title || '').toLowerCase();\n  const contentLower = (data.content || '').toLowerCase();\n  \n  let score = 0;\n  \n  // Viral keywords\n  viralKeywords.forEach(keyword => {\n    if (titleLower.includes(keyword)) score += 3;\n    if (contentLower.includes(keyword)) score += 1;\n  });\n  \n  // Recency boost (within last 6 hours)\n  const age = Date.now() - new Date(data.pubDate).getTime();\n  const hoursOld = age / (1000 * 60 * 60);\n  if (hoursOld < 2) score += 5;\n  else if (hoursOld < 6) score += 3;\n  else if (hoursOld < 24) score += 1;\n  \n  return { json: { ...data, score } };\n});\n\n// Sort by score\nscored.sort((a, b) => b.json.score - a.json.score);\n\n// Return top 3\nreturn scored.slice(0, 3);"
      },
      "name": "Score Stories",
      "type": "n8n-nodes-base.code",
      "position": [900, 500],
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://render-service-production-3b75.up.railway.app/check-coverage",
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ link: $json.link, title: $json.title }) }}",
        "options": {}
      },
      "name": "Check Coverage",
      "type": "n8n-nodes-base.httpRequest",
      "position": [1100, 500],
      "typeVersion": 1,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.covered }}",
              "value2": false
            }
          ]
        }
      },
      "name": "Not Covered?",
      "type": "n8n-nodes-base.if",
      "position": [1300, 500],
      "typeVersion": 1
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://render-service-production-3b75.up.railway.app/auto-produce",
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ title: $json.title, link: $json.link, content: $json.content, source: $json.source }) }}",
        "options": {}
      },
      "name": "Trigger Render",
      "type": "n8n-nodes-base.httpRequest",
      "position": [1500, 400],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "name": "No New Stories",
      "type": "n8n-nodes-base.noOp",
      "position": [1500, 600],
      "typeVersion": 1
    }
  ],
  "connections": {
    "Cron Trigger": {
      "main": [
        [
          {
            "node": "NYT Feed",
            "type": "main",
            "index": 0
          },
          {
            "node": "BBC Feed",
            "type": "main",
            "index": 0
          },
          {
            "node": "WSJ Feed",
            "type": "main",
            "index": 0
          },
          {
            "node": "Guardian Feed",
            "type": "main",
            "index": 0
          },
          {
            "node": "Politico Feed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NYT Feed": {
      "main": [
        [
          {
            "node": "Combine & Deduplicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BBC Feed": {
      "main": [
        [
          {
            "node": "Combine & Deduplicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WSJ Feed": {
      "main": [
        [
          {
            "node": "Combine & Deduplicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardian Feed": {
      "main": [
        [
          {
            "node": "Combine & Deduplicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Politico Feed": {
      "main": [
        [
          {
            "node": "Combine & Deduplicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine & Deduplicate": {
      "main": [
        [
          {
            "node": "Score Stories",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Score Stories": {
      "main": [
        [
          {
            "node": "Check Coverage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Coverage": {
      "main": [
        [
          {
            "node": "Not Covered?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Not Covered?": {
      "main": [
        [
          {
            "node": "Trigger Render",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No New Stories",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": []
}
